header{background-color:rgb(195, 115, 203);
    color: #f0ead6;
    font-size:xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    display:flex;
    justify-content: end;
}

input[type = checkbox]{
    display:none;
}

input + label:after {
      content:"☀️" ;
    }
input:checked + label:after {
      content: "🌛";
}
.title{
    width: 350px;
    border-radius:5px; ;
    background-color: rgb(195, 115, 203);

}
.card{
    display:inline-block;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(97, 95, 95, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
}


.dark {
    background-color:#30223a;
    height: 100vh;
    color: #bebebe
}

.light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
  }

  button{
    padding: 10px;;
  
  }